body {
    background: linear-gradient(110deg, #beeead, #dee4e2); 
}
h1,h2,h3{
    color: #666666;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.text {
    margin: 0 0 0 10%;
}
h2 {
    margin-bottom: 0;
}
p {
    margin-top: 0;
}
table {
    margin: 3% auto;
    width: 50%;
}
th {
    text-align: left;
}
input ,textarea {
    outline: none;
}
.text_danger {
    color: red;
}
img {
    width: 400px;
}
a {
    margin: auto;
    margin-top: 3%;
}
.button_box {
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.letter_box {
    margin: 40px 0;
    padding: 0 5%;
}
.class_id {
    gap: 15px;
    margin-bottom: 20px;
}
.title {
    width:500px; 
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 6px; 
    margin-bottom: 20px;
}
.contents {
    display: flex;
}
.one_contact {
    display: flex;
    margin-left: auto;
    background-color: #e3f0eb;
    border-radius: 30px;
    gap: 15px;
}
tbody {
    margin: auto;
}
textarea {
    width:600px; 
    height: 300px;
    max-width: 100%;
    max-width: 100%;
    border: 1px solid #aaa;
    border-radius: 6px;
    margin-bottom: 20px;
    resize: none;
}
.registerBox {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 3% auto;
}
.add {
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    background-color:#ec6666;
    color: #dee4e2;
    border-radius: 70px;
    border: none;
}
.detail {
    background-color: rgb(37, 154, 154);
    color: #dee4e2;
    border: none;
}
.edit {
    background-color: orange;
    color: #dee4e2;
    border: none;
}
.delete {
    background-color: #ec6666;
    color: #dee4e2;
    border: none;
}
.back {
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    background-color:#668cec;
    color: #dee4e2;
    border-radius: 70px;
    border: none;
}
.confirm {
    width: 200px;
    margin: 0 auto 30px;
    padding: 10px;
    background-color:#cbcd4d;
    color: #dee4e2;
    border-radius: 70px;
    border: none;
}
.alert {
    margin: auto;
}
.session {
    color: #ec6666;
}